<unl-toolbar>
	<unl-drawer-toggle ng-click="toggleMainDrawer()"></unl-drawer-toggle>
	<span flex class="align-center">Guestbooks</span>
	<a ng-click="go('/{{groupId}}/guestbook/new')" ng-show="groupId" title="Create New Guestbook"><unl-icon-button icon="add"></unl-icon-button></a>
</unl-toolbar>
<!-- Group List -->
<div class="content-container" ng-hide="groupId">
  <unl-list-group>
    <unl-list-item-details class="animate-fade-left" ng-repeat="group in currentUser.groups | orderBy:'title'" heading="{{group.title}}" link>
      <a ng-href="/{{group.id}}"><paper-ripple fit></paper-ripple></a>
    </unl-list-item-details>
  </unl-list-group>
</div>
<!-- End Group List -->
<unl-panel class="well" flex ng-show="groupId">
  <div class="content-container">
    <unl-card>
      <div horizontal layout end-justified gutters class="margin-bottom">
        <div flex>
          <label for="guestbook-filter" hidden>Find a guestbook</label>
          <input name="guestbook-filter" ng-model="guestbook_search.$" placeholder="Find a guestbook" ng-model-options="{ debounce: { keyup: 0 } }">
        </div>
      </div>
    </unl-card>
    <unl-card>
      <unl-empty-content ng-hide="guestbooks.length > 0" text="No Guestbooks Yet">
        <span subhead>Add your first guestbook by hitting <core-icon icon="add"></core-icon> above</span>
      </unl-empty-content>
      <unl-list-group>
        <unl-list-item-details class="animate-fade-left" ng-repeat="guestbook in guestbooks | orderBy:'title' | filter:guestbook_search" heading="{{guestbook.title}}" link>
          <a ng-click="go('/{{groupId}}/guestbook/{{guestbook.$id}}')"><paper-ripple fit></paper-ripple></a>
        </unl-list-item-details>
      </unl-list-group>
    </unl-card>
  </div>
</unl-panel>