<unl-toolbar>
	<a ng-click="go('/{{groupId}}', 'animate-slide-left')" title="Back to Assets"><unl-icon-button icon="arrow-back"></unl-icon-button></a>
	<span flex class="align-center">{{ guestbook.title || 'New Guestbook' }}</span>
</unl-toolbar>

<unl-panel class="well" flex>
	<form name="newGuestbookForm" ng-submit="createGuestbook()">
		<div class="content-container">
			<unl-card>
				<!-- Guestbook Settings -->
				<unl-list-group>
					<unl-list-item-header>General</unl-list-item-header>
					<unl-list-item-details heading="Title">
						<div class="tools">
							<input required type="text" name="guestbook-title" ng-model="guestbook.title">
						</div>
					</unl-list-item-details>
				</unl-list-group>
			</unl-card>
			<unl-card><button class="margin-bottom" type="submit" ng-disabled="newGuestbookForm.$invalid">Create Guestbook</button></unl-card>
		</div>
	</form>
</unl-panel>